/* Reset Css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Inter', sans-serif;
	background: #0A142F;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
	
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}

/* HEADER */
/* Helper Css */
.container-fluid {
	width: 100%;
}
.full-container {
	max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 150px;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
.container-xl {
	max-width: 1440px;
	margin: 0 auto;
}
.container-l {
	max-width: 1202px;
	margin: 0 auto;
}
.container-m {
	max-width: 966px;
	margin: 0 auto;
}
.bg {
	background: url('../images/bg.svg')no-repeat;
	background-size: cover;
	width: 100%;
}
body{
	position: relative;
	&:before {
		content: '';
		background: url(../images/bg.svg)no-repeat;
		width: 100%;
		position: absolute;
		top: 0;
		height: 1050px;
		background-size: cover;
	}
}
.header {
	position: relative;

}
.pt-322 {
	padding-top: 362px;
}


.d-flex {
	display: flex;
}

.m-auto {
	margin: 0 auto;
}

.ml-10 {
	margin-left: 10px;
}
.position-fixed-assets {
	position: absolute;
	left: 0;
	top: 203px;
}
.mt-120 {
	margin-top: 120px;
}

/* NAVBAR */

.navbar {
	height: 63px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 48px;
	ul {
		display: flex;
		li {
			padding-right: 50px;
			
			&:last-child{
				padding-right: 0px;
			}
			a {
				font-weight: 500;
				font-size: 18px;
				line-height: 22px;
				color: #FFFFFF;
			}		
		} 

	}

		
}



/* CONTENT  */
/* AGENCY */
.text-container {
	max-width: 472px;
	margin: 0 auto;
	position: relative;
	.digital {
		font-weight: 700;
		font-size: 150px;
		line-height: 182px;
		color: #FFFFFF;
	}
	&:before {
		content: url('../images/world.svg');
		position: absolute;
		left: -248px;
	}
	&:after {
		content: url('../images/line.svg');
		position: absolute;
		top: 21px;
    	right: -461px;

	}

}
.text-container-desc {
	position: relative;
	max-width: 563px;
	left: 331px;
	top: -35px;
	.agency {
		font-weight: 700;
		font-size: 150px;
		line-height: 182px;
		color: #FFFFFF;
	}	
	p {
		font-weight: 400;
		font-size: 24px;
		line-height: 40px;
		color: #E0E5F3;
		margin-bottom: 44px;
		margin-top: 40px;
	} 	
	a {
		padding: 16px 24px;
		box-sizing: border-box;
		background: #FFC93E;
		border-radius: 30px;
		font-weight: 500;
		font-size: 18px;
		color: #0A142F;

	}	
	.hero-image {
			position: absolute;
			right: 0;
			top: 50px;
			left: 560px;
	} 	
	.hero-image2 {
		position: absolute;
		left: -305px;
		top: 345px;
	}


}
.scroll {
	position: relative;
	transform: rotate(-90deg);
	display: flex;
	align-items: center;
	top: 300px;
	span {
		font-weight: 400;
		font-size: 14px;
		color: #F3F5F6;
		
	} &:before {
		content: url('../images/arw.svg');
		transform: rotate(90deg);
		padding-top: 16px;
	}
		
}
/* We are Creative Digital Agency */
.flex-container-1 {
	width: 100%;
	max-width: 539px;
	margin-right: 46px;
	margin-bottom: 78px;
		h1 {
			font-weight: 700;
			font-size: 48px;
			line-height: 58px;
			text-transform: capitalize;
			color: #FFFFFF;
			padding-bottom: 40px;
		} 	
		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 30px;
			color: #E0E5F3;
			padding-bottom: 48px;
			
		} 	
		a {
			font-weight: 500;
			font-size: 18px;
			color: #0A142F;
			padding: 16px 24px;
			background: #FFC93E;
			border-radius: 30px;
			box-sizing: border-box;

		}
}
.flex-container {
	img {
		width: 100%;
	}
}
.m-flex {
	display: flex;
	flex-direction: column;
}

/* Experiaence Container */

.box-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 78px;
	padding-bottom: 120px;
	.box {
		text-align: center;
		h2 {
			font-weight: 700;
			font-size: 48px;
			line-height: 58px;
			color: #FFFFFF;
		}
		p {
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			color: #E0E5F3;
			padding-top: 8px;
		}
	}
}

/* Our Solution */
.yellow-container {
	max-width: 576px;
	width: 100%;
	height: 850px;
	position: relative;
	background: #FFC93E;
	
	img {
		width: 100%;
		position: absolute;
		left: 86px;
		top: 50%;
		transform: translateY(-50%);
		z-index: 5;

	}
	
	&:after {
		content: url('../images/white.svg');
		left: 56px;
		position: absolute;
		bottom: 100px;
	}
}
.gray-container {
	background: #353F5B;
	width: 100%;
	padding: 151px 110px 0px 219px;
	position: relative;
	
	&:before {
		content: url('../images/orga.svg');
		position: absolute;
		left: 22px;
		top: 96px;
	}
	
	h2 {
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
		line-height: 58px;
		color: #FFFFFF;
		padding-bottom: 50px;
	}
	h4 {
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		color: #FFFFFF;
		padding-bottom: 18px;
		position: relative;
		padding-left: 50px;
	
		&::before {
			content: url(../images/check.svg);
			position: absolute;
			left: 0;
			width: 25px;
			height: 25px;
		}
	
	}
	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: #E0E5F3;
		padding-bottom: 42px;
		padding-left: 50px;
		max-width: 414px;
		
	}
}



/* Services */

.content-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;
	h1 {
		font-weight: 700;
		font-size: 48px;
		line-height: 58px;
		text-transform: capitalize;
		color: #FFFFFF;
		max-width: 382px;
	}
	a {
		margin-left: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 16px 24px;
		border: 1px solid #FFFFFF;
		border-radius: 30px;
		font-weight: 500;	
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
	}
}
.normal-swiper {
	width: 100%;
	height: 100%;
	.swiper-slide {
     
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
      }
}
.swiper {
	width: 100%;
	height: 100%;
	.swiper-slide {
        text-align: center;
        font-size: 18px;
       

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
      }

}
.mylow {
	width: 100%;
	height: 100%;
	.swiper-wrapper {
		justify-content: center;
	}
	.swiper-slide {
		text-align: center;
        font-size: 18px;
       

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
		img {
			width: auto !important;
			height: auto ;
		}
	}
	.swiper-button-prev {
		content: url('../images/prv.svg')!important;
		width: 70px;
		height: 70px;
	}
	.swiper-button-next {
		content: url('../images/next.svg')!important;
		width: 70px;
		height: 70px;
	}
}

.br-l {
	border-radius: 50px 0px 0px 0px;
	margin-bottom: 30px;
}
.br-r {
	border-radius: 0px 50px 0px 0px;
	margin-top: 30px;
	
}
.br-b {
	border-radius: 0px 0px 0px 50px;
}
.br-t {
	border-radius: 0px 0px 50px 0px;
	margin-top: 30px;
}
.my-swiper  {
	.swiper-wrapper {
		display: grid !important;
		grid-template-columns: repeat(2,1fr);
		pointer-events: none;
		
		.swiper-slide {
			display: flex;
			flex-wrap: wrap;
			text-align: start;
			margin-right: 30px !important;

			img {
				width: auto !important;
			
			}
		}
	
		

	}
	.swiper-pagination, .swiper-button-next, .swiper-button-prrev {
		display: none !important;
	}
	
}
.swiper-box {
	background: #353F5B;
	width: 555px !important;
	height: 552px !important;
	padding: 83px 41px 83px 34px;
	box-sizing: border-box;
	h3 {
		padding-top: 29px;
		font-weight: 600;
		font-size: 30px;
		line-height: 36px;
		color: #FFFFFF;
		padding-bottom: 24px;
		text-align: start;
	}
	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: #E0E5F3;
		padding-bottom: 40px;
		text-align: start;

	}
	a {
		box-sizing: border-box;
		padding: 16px 24px;
		display: inline-flex;
		border: 1px solid #FFFFFF;
		border-radius: 30px;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
		pointer-events: auto;
		&:hover {
			background: #FFC93E;
			color: #0A142F;
			border: 1px solid #FFC93E;
			
		}
		&:hover img {
			filter: brightness(0) saturate(100%)
			
		}
		
	}

}

/* Our Lates */
.mt-48 {
	margin-top: 48px;
}
.our-lates {
	text-align: center;
	h1 {	
		font-weight: 700;
		font-size: 48px;
		line-height: 58px;
		text-align: center;
		text-transform: capitalize;
		color: #FFFFFF;
	}
	ul {
		margin-top: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			padding: 0px 25px;
			a {
				font-weight: 500;
				font-size: 16px;
				line-height: 30px;
				color: #FFFFFF;
				&:hover {
					color: #FFC93E;
				}
			}
		}
	}
	.load-btn {
		font-weight: 600;
		font-size: 16px;
		color: #0A142F;
		padding: 16px 24px;
		background: #FFC93E;
		border-radius: 30px;
		box-sizing: border-box;
		margin-top: 66px;
		display: inline-flex;
		margin-bottom: 138px;
	}
}
.our-swiper {
	display: flex;
	flex-direction: column;
	h3 {
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
		color: #FFFFFF;
		text-align: start;
		padding-bottom: 32px;
		max-width: 379px;
		padding-top: 32px;
	}
	p {
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: #E0E5F3;
		text-align: start;
		max-width: 553px;
	}
}

/* What Happy */
.what-say {
	h1 {
		font-weight: 700;
		font-size: 48px;
		line-height: 58px;
		text-align: center;
		text-transform: capitalize;
		padding-bottom: 48px;
		color: #FFFFFF;
		text-align: start;
	}
	
}
.happy-swiper {
	.swiper-button-lock {
		display: block !important;
		
	}
	.swiper-pagination {
		display: none;
	}
	.swiper-button-prev  {
	
		
		&::after {
			content: url('../images/lft.svg') !important;
			left: 8px !important;
			position: relative;
		}
	}
	.swiper-button-next  {
		
		&::after {
			display: none !important;
			
		}
	}
}
.happy-slide {
	height: 439px;
	background: #353F5B;
	border-radius: 50px;
	padding: 54px 48px 53px 65px;
	box-sizing: border-box;
	width: 750px !important;
	.happy-img {
		width: auto!important;
	}
	.happy-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
		color: #E0E5F3;
		padding: 31px 0px;
		text-align: start;
	}
	.user-detail {
		display: flex;
		align-items: center;
		.text {
			display: flex;
			align-items: center;
		}
		.user {
			padding-left: 10px;
			h1 {
				font-size: 15px;
				color: #fff;
				font-weight: 500;
				padding-bottom: 15px;
				line-height: 0;
				text-align: start;
			
			}
			p {
				font-size: 15px;
				color: #FFC93E;
				font-weight: 400;
				text-align: start;
			}
			
			.brok {
				width: 70px !important;
			}
		}
		.rating {
			margin-left: auto;
		}
	}
}

/* BLOG */
.blog  {
	h1 {
		padding-bottom: 40px;
		font-weight: 700;
		font-size: 48px;
		line-height: 58px;
		color: #FFFFFF;
		text-transform: capitalize;
	}
	.blog-swiper {
		.blog-slide {
			width: 554px;
			display: flex;
			flex-direction: column;
			align-items: start;
			button {
				background: #F3F5F6;
				box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
				border-radius: 10px;
				padding: 4px 12px;
				font-weight: 500;
				font-size: 12px;
				color: #0C1430;
				margin-top: 29px ;
				margin-bottom: 21px;
			}
			p {
				font-weight: 500;
				font-size: 16px;
				line-height: 24px;
				color: #FFFFFF;
				margin-bottom: 16px;
			}
			h3 {
				font-weight: 700;
				font-size: 30px;
				line-height: 38px;
				color: #FFFFFF;
				text-align: start;
				margin-bottom: 24px;
			}
			a {
				font-weight: 600;
				font-size: 16px;
				line-height: 19px;
				color: #FFFFFF;
				border: 1px solid #FFFFFF;
				border-radius: 30px;
				padding: 16px 24px;
				display: flex;
				img {
					width: auto;
				}
			}
		}
	}
}

/* CATEGORYS */
.mb-80 {
	margin-bottom: 80px;
}
.categorys {
	h1  {
		font-weight: 700;
		font-size: 48px;
		line-height: 58px;
		text-transform: capitalize;
		color: #FFFFFF;
		padding-bottom: 50px;
	}
	.category-slide {
		background: #3A425A;
		border-radius: 50px;
		padding: 10px 10px 0px 10px;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		height: 367px;
		width: 245px !important;
		justify-content: start !important;
		p {
			font-weight: 700;
			font-size: 24px;
			margin-top: 51px;
			color: #FFFFFF;
			letter-spacing: 0.04em;
		}
	}
}


/* FOOTER */
.bg-gray {
	background: #3B435A;
}
.footer {
	overflow: hidden;
	padding: 48px 80px;
	padding-bottom: 58px;
	.top-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.yellow-card {
			position: relative;
			width: 624px;
			height: 234px;
			background: #FFC93E;
			border-radius: 30px;	
			padding: 80px 48px;
			display: flex;
			justify-content: center;
			align-items: start;	
			flex-direction: column;
			box-sizing: border-box;
			&::before {
				content: url('../images/footer.svg');
				position: absolute;
				left: -26px;
				top: -26px;
			}
			p {
				font-weight: 600;
				font-size: 20px;
				color: #0A142F;
				padding-bottom: 15px;
			}
			.image-box {
				position: relative;
				&::after {
					content: url('../images/rr.svg');
					width: 30px;
					height: 30px;
					position: absolute;
					right: -9px;
    				text-align: center;
					
				}
				input {
					border-bottom: 1px solid #0A142F;
					background-color: transparent;
					padding-bottom: 10px;
					width: 528px;
					padding-right: 30px;
					box-sizing: border-box;
					
					&::placeholder {
						color: #0A142F;
						letter-spacing: -0.213333px;
						font-weight: 400;
						font-size: 16px;
					
					}
				}
			}
			
		}
		.office {
			padding-left: 109px;
			padding-right: 32px;
			h2 {
				font-weight: 600;
				font-size: 18px;
				color: #FFFFFF;
				padding-bottom: 16px;
			}
			ul {
				li {
					font-weight: 400;
					font-size: 16px;
					line-height: 30px;
					max-width: 247px;
					color: #FFFFFF;
				}
			}
		}
		.contact {
			h2 {
				font-weight: 600;
				font-size: 18px;
				color: #FFFFFF;
				padding-bottom: 16px;
			}
			ul {
				li {
					font-weight: 400;
					font-size: 16px;
					line-height: 30px;
					max-width: 247px;
					color: #FFFFFF;
				
					
				}
			}
		}
	}
	.bottom-footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 50px;
		.all {
			p {
				font-weight: 400;
				font-size: 16px;
				letter-spacing: -0.213333px;
				color: #E0E5F3;
			}
		}
		.terms {
			span {
				font-weight: 400;
				font-size: 16px;
				letter-spacing: -0.213333px;
				color: #E0E5F3;
			}
		}
		.social {
			a {
				margin-right: 27px;
				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}
	
}
.our-see,.what-see,.blog-see {
	display: none;
}

@media only screen and (max-width: 1412px) {
    .hero-image,.text-container:after {
      display: none;
    }
    .full-container {
      padding-left: 0px;
    }
    .full-container,.container-l,.container {
      padding: 0px 20px;
    }
     
}

@media only screen and (max-width: 475px) {
	.hero-image,.text-container:after {
		display: block;
	  }
	  .full-container,.container-l,.container {
		padding: inherit;
	  }
	/* Header */
	.menu ,.scroll,.gray-container:before,.categorys{
		display: none;
	}
	.my-swiper .swiper-pagination {
		display: block !important;
	}
	.navbar {
		padding-left: 25px;
		padding-right: 25px;
	}
	.pt-322 {
		padding-top: 46px;
	}

	.text-container {
		max-width: 100%;
		margin-left: 109px;
		.digital {
			font-size: 70px;
			line-height: 85px;
		}
		&::after {
			content: url(../images/mline.svg);
			top: 10px;
    		right: -21px;
			z-index: -1;
		}
		&::before {
			content: url(../images/mworld.svg);
			left: -109px;
		}
	}
	.text-container-desc {
		position: inherit;
		max-width: 309px;
		padding-left: 20px;
		.agency {
			font-size: 70px;
			line-height: 85px;
		}
		p {
			
			line-height: 32px;
			font-size: 0;
			&::before {
				content: 'Full-service design support that growing B2B companies need. ';
				font-size: 18px;
			}
		}
		.hero-image {
			position: inherit;
			margin-top: 57px;
			img {
				width: 100%;
			}
		}
		.hero-image2 {
			position: inherit;
			margin-top: 28px;
			img {
				width: 100%;
				max-width: 157px;
			}
		}
		a {
			span {
				font-size: 0;
				&::before {
					content: 'Our Work';
					font-size: 18px;
				}
			}
			
			
		}
	}
	/* Experiance */
	.box-wrapper {
		flex-direction: column;
		.box {
			margin-bottom: 68px;
			&:last-child {
				margin-bottom: 80px;
			}
		}
	}
	/* Our Solition */
	.mb-flex {
		flex-direction: column-reverse;
	}
	.yellow-container {
		max-width: 100%;
		height: 386px;
		top: 110px;
		&::after {
			bottom: 150px;
			left: 29px
		}
		img {
			max-width: 318px;
			left: 50%;
			top: -118px;
			transform: translateY(0);
			transform: translateX(-50%);
		}
	}
	.gray-container {
		padding: 0px 24px; 
		background: transparent;
		box-sizing: border-box;
		h2 {
			font-size: 24px;
			line-height: 29px;
		}
		h4 {
			font-size: 20px;
			line-height: 26px;
			padding-bottom: 16px;
			max-width: 259px;
			&::before {
				content: url('../images/mcheck.svg');
				top: 10px;
			}
		}
		p {
			max-width: 262px;
		}
	}
	.box-wrapper {
		padding-bottom: 80px;
	}
	/* We Are */
	.we-are {
		flex-direction: column;
		padding: 0px 24px;
		.flex-container-1  {
			margin-bottom: 68px;
			h1 {
				font-size: 24px;
				line-height: 29px;
				padding-bottom: 24px;
			}
			
		}
	}
	/* What Say */
	.full-container {
		padding-left: inherit;
		

	}

	.happy-swiper {
		max-width: 327px;
		.swiper-button-prev {
			display: none;
		}
		.swiper-pagination {
			display: block;
		}
		
	}
	
	.happy-slide {
		width: 100% !important;
		height: 696px !important;
		margin-bottom: 40px;
		padding: 55px 31px 40px 31px !important;
		.user-detail {
			flex-direction: column;
			.rating {
				margin-left: inherit;
				margin-top: 24px;
			}
		}
		.happy-img {
			margin: 0 auto;
		}
	}
	.swiper-pagination {
		position: inherit !important;
		.swiper-pagination-bullet {
			width: 20px !important;
			height: 20px !important;
			background: #F3F5F6 !important;
			opacity: 1 !important;
		}
		.swiper-pagination-bullet-active {
			background: #FFC93E !important;
		}
	}
	/* Services */
	.content-wrapper {
		padding: 0px 24px;
		padding-top: 80px;
		padding-bottom: 24px;
		h1 {
			font-size: 24px;
			line-height: 29px;
			max-width: 191px;
		}
		a {
			border: none;
			color: #FFC93E;
			width: 58px;
			display: block;
			padding: 0px;
			img {
				display: none;
			}
		}
		
	}
	/* Swiper */
	.my-swiper  {
		max-width: 327px;
		.swiper-wrapper {
			display: flex !important;
			pointer-events:all;
			margin-bottom: 60px;
			.swiper-slide {
				display: flex !important;
				border-radius: 30px;
			
				.pen {
					width: 35px !important;
				}
			
			}
			.swiper-box {
				padding: 56px 48px 48px 34px;
				width: 100% !important;
				height: 536px !important;
				margin-right: 20px !important;
				
				h3 {
					font-size: 20px;
					line-height: 24px;
				}
				p {
					max-width: 245px;
				}
				a {
					background: #FFC93E !important;
					color: #0A142F !important;
					border: 1px solid #FFC93E !important; 
					img {
						filter: brightness(0) saturate(100%) !important;
					}
				}
			}
			.br-l,.br-r,.br-t,.br-b {
			
				margin: 0px ;
			}
			
			
			
		}
		.swiper-button-prev{
			display: none !important;
		}
	
	}

	/* Our Lates */
	
	.our-swiper {
		h3 {
			display: none;
		}
		p {
			display: none;
		}
	}
	.our-lates {
		ul {
			overflow-y: scroll;
			justify-content: start;
			li {
				padding: 0px 20px;
				width: 86px;
				a {
					display: block;
					width: 100px;
				}
			}
		}
	}
	.our-swiper-late {
		max-width: 327px;
		margin-bottom: 80px;
		.swiper-wrapper {
			margin-bottom: 60px;
		}
		
	}
	
	.our-flex {
		display: flex;
		align-items: center;
		padding: 0px 24px;
		h1 {
			font-size: 24px;
		}
		.our-see {
			display: block;
			margin-left: auto;
			p {
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				color: #FFC93E;

			}
		}
	}
	.load-btn {
		display: none !important;
	}

	/* What Say */
	.what-say {
		padding: 0px 24px;
		h1 {
			font-size: 0;
			line-height: 29px;
			padding-bottom: 24px;
			&::before {
				font-size: 24px;
				content: 'What client says';
			}
		}
	}
	.what-flex {
		display: flex;
		align-items: center;
		.what-see{
			display: block;
			margin-left: auto;
			padding-bottom: 24px;
			p {
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				color: #FFC93E;
			}
		}
	}
	/* BLog */
	.blog-flex {
		display: flex;
		align-items: center;
		padding: 0px 24px;
		h1 {
			font-size: 24px;
			line-height: 29px;
			padding-bottom: 24px;
		}
		.blog-see {
			margin-left: auto;
			display: block;
			padding-bottom: 24px;
			p {
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				color: #FFC93E;
			}
		}
	}
	.blog {
		.blog-swiper {
			.swiper-wrapper {
				margin-bottom: 60px;
			}
			max-width: 327px;
			button {
				color: #FFC93E !important;
			}
			.blog-slide {
				align-items: center;
				h3 {
					font-size: 20px;
					line-height: 38px;
					text-align: center;
					max-width: 271px;
				}
			}
		}
	}
	
	/* Footer */
	.footer  {
		margin-top: 80px;
		padding: 40px 24px;
		.top-footer {
			flex-direction: column;
			.yellow-card {
				min-width: 327px;
				height: 254px;
				width: 100%;
				p {
					font-size: 20px;
					line-height: 150%;
				}
				.image-box {
					input {
						width: 100%;
						border-bottom: 1px solid #fff;
					}
				}
			}
			.office {
				padding: 0px;
				text-align: center;
				padding-top: 40px;
				padding-bottom: 40px;
				ul {
					li {
						color: #E0E5F3;
					}
				}
			}
			.contact {
				text-align: center;
				ul {
					li {
						color: #E0E5F3;
					}
				}
			}
		}
		.bottom-footer {
			margin-top: 40px;
			flex-direction: column;
			.all {
				order: 2;
				p {
					font-size: 0;
					padding-top: 41px;
					&::before {
						content: 'Copyright 2022. All Rights Reserved';
						color: #E0E5F3;
						font-size: 16px;
					}
				}
			}
			.social {
				padding-top: 33px;
			}
			.terms {
				text-align: center;
				line-height: 41px;
				max-width: 120px;
				.ml-10 {
					margin-left: 0px;
				}
			}
		}
		
	}
	
}